@use '@fem-pra/tokens/dist/scss/mixins' as *;
@use '@fem-pra/tokens/dist/scss/tokens' as *;

.request-form {
  display: grid;
  row-gap: $fem-size-offset-500;

  &:focus-within {
    box-shadow: none;
  }

  @media screen and (min-width: $fem-breakpoint-sm) {
    border-radius: $fem-size-offset-600 + $fem-size-offset-300;
    grid-template-columns: 1fr auto;
    row-gap: 0;
    max-height: $fem-size-offset-400 * 7;
    padding: 0.3125rem;
    width: calc(73.798% - $fem-size-offset-500);
    background-color: var(--fem-color-background-input-default);
    color: var(--fem-color-text-input-default);

    &:focus-within {
      box-shadow: inset 0 0 0 2px var(--fem-color-border-input-focus);
    }
  }
  @media screen and (min-width: $fem-breakpoint-lg) {
    width: calc(66.917% - $fem-size-offset-500);
  }

  &__input {
    border-radius: $fem-size-offset-600 + $fem-size-offset-300;
    font-weight: 700;
    outline: 0;
    padding: ($fem-size-offset-400 + $fem-size-offset-100)
      ($fem-size-offset-500 * 2);
    background-color: var(--fem-color-background-input-default);
    color: var(--fem-color-text-input-default);

    @extend %fem-text-body-200;

    &::placeholder {
      color: var(--fem-color-text-input-placeholder);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fem-color-border-input-focus);
    }

    @media screen and (min-width: $fem-breakpoint-sm) {
      &:focus {
        box-shadow: none;
      }
    }
  }

  &__helper-text {
    display: none;
    font-weight: 700;
    margin: -($fem-size-offset-300 * 3) ($fem-size-offset-500 * 2) 0;
    text-align: start;

    @extend %fem-text-body-100;

    @media screen and (min-width: $fem-breakpoint-sm) {
      grid-row-start: 2;
      grid-column: 1 / span 2;
      margin-top: $fem-size-offset-300 * 3;
    }

    &--visible {
      display: inline;
    }

    &--error {
      color: var(--fem-color-text-input-error);
    }
  }

  &__button {
    border-radius: $fem-size-offset-600 + $fem-size-offset-300;
    cursor: pointer;
    font-weight: 700;
    outline: 0;
    padding: ($fem-size-offset-400 + $fem-size-offset-100)
      ($fem-size-offset-500 * 2);
    background-color: var(--fem-color-background-button-rest);
    color: var(--fem-color-text-button-rest);

    @extend %fem-text-body-200;

    @media screen and (min-width: $fem-breakpoint-sm) {
      &:focus {
        box-shadow: inset 0 0 0 2px var(--fem-color-border-button-focus);
      }
    }

    &:is(:hover, :focus) {
      background-color: var(--fem-color-background-button-hover);
    }
  }
}
