@use "@fem-pra/tokens/dist/scss/tokens" as *;

.header {
  margin: $fem-size-offset-2100 0 $fem-size-offset-1900;

  @media screen and (min-width: $fem-breakpoint-sm) {
    margin: $fem-size-offset-1700 0 $fem-size-offset-2800 $fem-size-offset-1400;
  }
  @media screen and (min-width: $fem-breakpoint-lg) {
    margin: $fem-size-offset-2500 0 $fem-size-offset-2600 $fem-size-offset-2900;
  }

  &__picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: .1;
    z-index: -1;

    @media screen and (min-width: $fem-breakpoint-sm) {
      left: 36.068%;
      opacity: 1;
    }
    @media screen and (min-width: $fem-breakpoint-lg) {
      margin-top: $fem-size-offset-900;
      left: 38.333%;
      top: auto;
    }
  }

  &__image {
    width: 100%;
  }
}
